{% extends "base.html" %}
{% block content %}
    <div class="text-center mt-5">
        <h1>Sign in</h1>
    </div>
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Login</legend>
                {{ form }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info type="submit">Login</button>
            </div>
        </form>
    </div>
{% endblock content %}