{% extends "base.html" %}
{% block content %}
    <h1>Licensed Software:</h1>

    <table class="table table-striped">

        <tbody>
            {% for software in licenses %}
                <tr>
                    <!-- Everything inside <td> defines the row and everything inside that row -->
                    <td>
                        <b>{{ software.associated_software }}</b>
                        <br>
                        Assigned to: {{ software.license_assigned_to }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}
