{% extends "base.html" %}
{% block content %}
    <h1>Licensed Software:</h1>

    <table class="table table-striped">

        <tbody>
            <!-- The below for loop looks at the License class in licenses > models.py -->
            {% for software in licenses %}
                <tr>
                    <!-- Everything inside <td> defines the row and everything inside that row -->
                    <td>
                        <b>{{ software.associated_software }}</b>
                        <br>
                        {% if request.user.is_superuser %}
                            License key: <span id="license_key_styling">{{ software.license_key }}</span>
                        {% else %}
                        {% endif %}
                        <br>
                        {% if software.license_assigned_to == "License is free" %}
                            License is available
                        {% else %}
                            Assigned to: {{ software.license_assigned_to }}
                        {% endif %}
                        <br>
                        Number of licenses: {{ software.associated_software.count }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}
